@import "./colors/mocha.css";

* {
    font-family: 'JetBrains Mono';
    font-size: 15px;
}

window#waybar {
    margin: 8px;
    border-radius: 12px;
    background-color: pink;
}

/*
#workspaces,
#memory,
#window,
#backlight,
#network,
#wireplumber,
#clock,
#battery,
*/

#cpu {
    background-color: white;
}
