/* my light themed waybar ~jeji
* {
    font-family: 'JetBrains Mono';
    font-size: 1.16rem; 
     1.16rem about same size as 17px. Original px might be 14.5299 
}
*/

window#waybar {
    border-radius: 1rem;
    background-color: #f5e0dc;
    border: solid;
    border-width: 0.125rem;
} 

.modules-left {
    font-size: 1.16rem;
    font-family: 'JetBrains Mono';
    margin-left: 1.3rem; 
}
#window {
    font-size: 1rem;
    font-family: 'JetBrains mono';
}
.modules-right { 
    font-size: 1.16rem;
    font-family: 'JetBrains Mono';
    margin-right: 1.5rem;
}

#custom-launcher {
    color: #d20f39;
    padding-left: 0.5rem;
    padding-right: 0.5rem;


}
#custom-launcher:hover {
    color: #45475a;
}

#custom-separator {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#workspaces button.active {
    font-size: 0.8rem;
}
#workspaces button {
    border-color: transparent;
    box-shadow: none;
    background: none;
}
#workspaces button:nth-child(1) {
    /*border: solid;
    border-width: .125rem;
    border-color: black;
    */
    padding-left: 0.3rem;
    color: #e78284;
}
#workspaces button:nth-child(2) {
    color: #cba6f7;
}
#workspaces button:nth-child(3) {
    color: #11111b;
} 
#workspaces button:nth-child(4) {
    color: #a6adc8;
}
#workspaces button:nth-child(5) {
    color: #f38ba8;
}
#workspaces button:nth-child(6) {
    color: #e5c890;
}
#workspaces button:nth-child(7) {
    color: #89b4fa;
}
#workspaces button:nth-child(8) {
    color: #a6e3a1;
}
#workspaces button:nth-child(9) {
    color: #fab387;
}
#workspaces button:nth-child(10) {
    color: #1e66f5;
} 
#workspaces button:hover {
    color: #45475a;
}

#cpu {
    margin-right: 0.3rem;
    font-size: 1rem;
}
#memory {
    font-size: 1rem;
}
#wireplumber {
    font-size: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
#battery {
    font-size: 1rem;
}
#clock {
    font-size: 1rem;
}
/*
#backlight,
#network,
*/

