/* 
* {
    font-family: 'JetBrains Mono';
    font-size: 1.16rem; 
     1.16rem about same size as 17px. Original px might be 14.5299 
}
*/

@import '../../.cache/wal/colors-waybar.css';

window#waybar {
    border-radius: 1rem;
    background-color: @background;
    border-bottom: solid;
    border-width: 0.2rem;
    border-color: @color14;
} 

.modules-left {
    font-size: 1.16rem;
    font-family: 'JetBrains Mono';
    margin-left: 1.3rem; 
}
#window {
    color: @color4;
    font-size: 1rem;
    font-family: 'JetBrains mono';
}
.modules-right { 
    font-size: 1.16rem;
    font-family: 'JetBrains Mono';
    margin-right: 1.5rem;
}

#custom-powermenu {
    color: #d20f39;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#custom-powermenu:hover {
    color: @color3;
}

#custom-separator {
    color: @color6;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#workspaces button.active {
    font-size: 0.8rem;
}
#workspaces button {
    border-color: transparent;
    box-shadow: none;
    background: none;
}
#workspaces button:nth-child(1) {
    /*border: solid;
    border-width: .125rem;
    border-color: black;
    */
    padding-left: 0.3rem;
    color: #e78284;
}
#workspaces button:nth-child(2) {
    color: #cba6f7;
}
#workspaces button:nth-child(3) {
    color: #dce0e8;
} 
#workspaces button:nth-child(4) {
    color: #a6adc8;
}
#workspaces button:nth-child(5) {
    color: #f38ba8;
}
#workspaces button:nth-child(6) {
    color: #e5c890;
}
#workspaces button:nth-child(7) {
    color: #89b4fa;
}
#workspaces button:nth-child(8) {
    color: #a6e3a1;
}
#workspaces button:nth-child(9) {
    color: #fab387;
}
#workspaces button:nth-child(10) {
    color: #1e66f5;
} 
#workspaces button:hover {
    opacity: 0.5;
}

#backlight {
    color: @color10;
}
#cpu {
    color: @color7;
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
#memory {
    color: @color1;
    margin-right: 0.3rem;
    font-size: 0.8rem;
}
#wireplumber {
    color: @color14;
    font-size: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
#battery {
    color: @color15;
    font-size: 1rem;
}
#clock {
    color: @color4;
    font-size: 1rem;
}
#network {
    color: @color5;
    font-size: 1rem;
}
#custom-notification {
    color: @color13;
    font-size: 1rem;
}


